[plain] view plaincopy


*.db
*.pkl
*.log


__pycache__/

/secret/*
/logs/*
/.Trash-0/*
/.git.bac/

/app/cache/
/app/test/
/app/database/
/app/static/upload/final/
/app/static/upload/htmlcoder/
/app/static/video/
/app/static/image/miniprogram_api/sm_cover/
/app/static/image/miniprogram_api/bg_cover_compressed/
/app/static/image/miniprogram_api/deep_compressed_cover/
